{% extends 'base.html'%}
{% load static %}

{% block title %}Cart{% endblock title %}
{% block body %}
<div class="container my-3">
    <div class="my-3 box_element">
     <button class="btn btn-outline-bg-dark my-2"><a href="{% url 'store' %}" class="text-dark"><img id="arrow" src="{% static 'images/back_arrow.png' %}" >  Continue shopping</a></button>
     
     <table class="table">
         <tr>
             <th>Items:<strong>{{order.get_cart_items}}</strong></th>
             <th>Total:<strong>&#8377; {{order.get_cart_total}}</strong></th>
             <th>
                <a href="{% url 'checkout' %}" class="btn btn-success" style="float:right;">CheckOut</a>

             </th>
             
         </tr>
     </table>

    </div>
    <br>
    <div class="box_element my-3">
        <div class="cart_row">
            <div style="flex:2;"><strong></strong></div>
            <div style="flex:2;"><strong>Item</strong></div>
            <div style="flex:1;"><strong>Price</strong></div>
            <div style="flex:1;" ><strong>Quantity</strong></div>
            <div style="flex:1;"><strong>Total</strong></div>
        </div>
        {% for item in items %}
        <div class="cart_row">
            

            <div style="flex:2;"><img class="row_image" src="{{item.product.imageURL}}"></div>
            <div style="flex:2;">{{item.product.name}}</div>
            <div style="flex:1;">&#8377; {{item.product.price|floatformat:2}}</div>
            <div style="flex:1;" ><p class="quantity">{{item.quantity}}</p>
                <div class="quantity ">
                    <img data-product={{item.product.id}} data-action="add" class="chg-quantity update-cart" src="{% static  'images/arrow-up.png' %}">
            
                    <img data-product={{item.product.id}} data-action="remove" class="chg-quantity update-cart" src="{% static  'images/arrow-down.png' %}">
                </div></div>
            <div style="flex:1;"><p>{{item.get_total}}</p></div>

        </div>
        {% endfor %}
    </div>
</div>
{% endblock body %}