
<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- Optimal Internet Explorer compatibility -->
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/store.css' %}" type="text/css">
    <title>{% block title %} Register Page {% endblock title %}</title>
    <style>
        body{
            background-color:turquoise;
        }
        
        .text-color{
          color: black;
        }
        .space{
            margin-left: 400px;
            
            margin-right: 400px;
            
        }
    </style>
</head>
<body>
    <div class="container my-3">

        <div class="space">

            <h2 class="text-color">Register here...</h2>
        <br>
        <br>
        
        <form action="" method ="POST">

    
            {% csrf_token %}
            {{form.username.label}}
            <br>
            {{form.username}}
            <br>
            {{form.email.label}}
            <br>
            {{form.email}}
            <br>
            {{form.password1.label}}
            <br>
            {{form.password1}}
            <br>
            {{form.password2.label}}
            <br>
            {{form.password2}}
            <br>
            <button class="btn btn-warning mt-3"type="submit" name="register" >Register</button>

        </form>
            
        </div>
        
    </div>    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
  </body>
</html>
